<%= turbo_frame_tag "guest_results" do %>
  <ul class="guest-results">
    <% guests.each do |guest| %>
      <li>
        <button type="button" class="guest-result" data-action="guest-search#pick"
                data-guest-id="<%= guest.id %>" data-guest-name="<%= guest.name %>">
          <%= guest.name %>
          <% if guest.email.present? %><span class="muted"><%= guest.email %></span><% end %>
        </button>
      </li>
    <% end %>

    <% if query.present? && guests.none? { |guest| guest.name.casecmp?(query) } %>
      <% first_name, last_name = query.split(" ", 2) %>
      <li>
        <%= link_to t("guests.picker.create", name: query),
              new_guest_path(guest: { first_name: first_name, last_name: last_name }),
              class: "guest-create", data: { turbo_frame: "_top" } %>
      </li>
    <% end %>
  </ul>
<% end %>
