<%= form_with model: property, class: "form" do |form| %>
  <%= render "shared/form_errors", record: property %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div>
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :stars %>
    <%= form.select :stars, (1..5), include_blank: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
