<div class="page-head">
  <h1><%= t(".title") %></h1>
  <%= link_to t(".new_property"), new_property_path, class: "btn" %>
</div>

<% if @properties.any? %>
  <ul class="property-grid">
    <% @properties.each do |property| %>
      <li>
        <%= link_to property_path(property), class: "property-card" do %>
          <h2><%= property.name %></h2>
          <div class="meta">
            <span><%= [ property.city, property.country ].select(&:present?).join(", ") %></span>
            <% if property.stars.present? %>
              <span class="stars"><%= "★" * property.stars %></span>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="empty"><%= t(".empty") %></p>
<% end %>
