<div class="page-head">
  <h1>
    <%= @property.name %>
    <% if @property.stars.present? %><span class="stars"><%= "★" * @property.stars %></span><% end %>
  </h1>
  <%= link_to t(".edit"), edit_property_path(@property), class: "btn btn-quiet" %>
</div>

<p class="address">
  <%= [ @property.street, @property.postal_code, @property.city, @property.country ].select(&:present?).join(", ") %>
</p>

<% if @property.description.present? %>
  <p><%= @property.description %></p>
<% end %>

<div class="page-head">
  <h2><%= t(".rooms") %></h2>
  <%= link_to t(".new_room"), new_property_room_path(@property), class: "btn" %>
</div>

<% if @property.rooms.any? %>
  <table class="room-board">
    <thead>
      <tr>
        <th><%= Room.human_attribute_name(:number) %></th>
        <th><%= Room.human_attribute_name(:room_type) %></th>
        <th><%= Room.human_attribute_name(:capacity) %></th>
        <th><%= Room.human_attribute_name(:nightly_rate_cents) %></th>
        <th><%= Room.human_attribute_name(:floor) %></th>
        <th><%= Room.human_attribute_name(:status) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "rooms/room", collection: @property.rooms %>
    </tbody>
  </table>
<% else %>
  <p class="empty"><%= t(".empty_rooms") %></p>
<% end %>

<%= link_to t(".back"), properties_path, class: "back-link" %>
